---
import { themeConfig } from '~/.config'

const year = new Date().getFullYear()

const { website, author, footer } = themeConfig.site

function parseFooter(str: string) {
  str = str.replace(/%author/g, author)
  str = str.replace(/%website/g, website)
  str = str.replace(/%year/g, year.toString())
  return str
}
---

{footer.length && footer.map((str) => <p set:html={parseFooter(str)} />)}

 </div>
    <script type="text/javascript">function runtime(){const t=new Date("10/01/2025 08:00:00"),n=new Date,s=n-t,e=Math.floor(s/1e3),o=Math.floor(e/86400),i=Math.floor(e%86400/3600),a=Math.floor(e%3600/60),r=e%60;document.getElementById("runningtime").innerHTML=`⭐本站已运行: ${o}天${i}小时${a}分${r}秒 ☁️`}setInterval(runtime,1e3)</script>
    <div class="transition text-50 text-sm text-center hidden md:block"><p id="runningtime"> </p></div>
</div>

<style>
  p {
    --at-apply: 'font-bold text-3';
  }
</style>
